*
{margin: 0;
padding: 0;
box-sizing: border-box;
}
.clear
{
  clear: both;
}
a
{
  color: gray;
  text-decoration: none;

}
.uppercase
{
	text-transform: uppercase;

}

header {
  background: #fff;
  color: #555f66;
  padding-bottom: 10px;

}
body{
  font-family: 'Nanum Gothic', sans-serif;
}
/* logo,menu */
.logo,.menu
{
  display: inline-block;
}
.logo
{
  float: left;
  width: 20%;
	padding-top: 10px;
  padding-left: 10px;

}
.menu
{
  float: right;
  width: 70%;
  height: 30px;
  padding-top: 10px;
  text-align: right;
}

.menuul
{
  list-style: none;
  padding-right: 10px;

}
.menuul li
{
  display: inline-block;
  padding: 0px 10px;
  text-transform: capitalize;



}
.menuul a:hover
{
  color: white;
	background-color: skyblue;
  padding: 6px 10px;
	border-radius: 5px;
}
/* logo,menu */

/*banner*/

.banner
{

	padding-top: 110px;
  padding-bottom: 110px;
  background-image: url("images/banner.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}
.banner p
{
  color: rgb(173,181,189);
  padding-top: 25px;
}


.button
{
  background: rgba(0, 0, 0, 0.0);
  color: #fbfcf7;
  display: inline-block;
  width: 200px;
  padding: 10px 0;
  margin: 40px 5px 0px 5px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border-width: medium;
	border-radius: 6px;
  border-color: gray;
  border: 1px solid;
}
.button:hover
{
  color: white;
	background-color: rgb(98,158,210);
	border-radius: 4px;
  border-color: rgb(98,158,210);
}

.containerb .button
{
  background: rgba(0, 0, 0, 0.1);
  color: #fbfcf7;
  display: inline-block;
  width: 150px;
  padding: 10px 0;
  margin: 20px 5px 20px 5px;
  text-transform: uppercase;
  font-size: 15px;
  text-align: center;
  text-decoration: none;
  border-width: medium;
	border-radius: 6px;
  border-color: gray;
  border: 1px solid;
}
.containerb .button:hover
{
  color: white;
	background-color: rgb(98,158,210);
	border-radius: 4px;
  border-color: rgb(98,158,210);
}
.container4 .button
{
	background: rgba(0, 0, 0, 0.0);
  color: grey;
  display: inline-block;
  width: 140px;
  padding: 10px 0;
  margin: 0px 5px 40px 5px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-width: medium;
	border-radius: 6px;
  border-color: gray;
  border: 1px solid;
}
.container4 .button:hover
{
  color: white;
	background-color: rgb(98,158,210);
	border-radius: 4px;
  border-color: rgb(98,158,210);
}


/*img*/
.img{
  width: 100%;

      margin-bottom: 20px;
}

.square .icon
{	display: inline-block;
	width: 24px;
	height: 64px;
	background-size: auto;
	margin: 0px 0;
  text-align: center;
}

/*img*/
/*blocks*/
.container
{
	max-width: 100%;
	margin: 0 50px;
  padding-top: 5px;
  font-family: 'Nanum Gothic', sans-serif;

}
section .container
{
	max-width: 100%;
	margin: 0px 0;
  padding-top: 70px;
  font-family: 'Nanum Gothic', sans-serif;

}
.squares
{
	padding: 60px 30px;
  text-align: center;

}
.square
{
  display: inline-block;
  width: 25%;
	padding: 0px 2px;
	text-align: center;
  border: 1px solid;
  border-color: lightgray;
  margin: 0 25px;

}
.containerb
{
  background-color: rgba(33, 33, 33, 1);
  text-align: center;
 width: 100%;
	margin: 30px 0px;
  padding-top: 45px;
  font-family: 'Nanum Gothic', sans-serif;
  background-size: cover;
  background-position: center;
  position: relative;
}
}
.column
{
  display: inline-block;
}
.square2
{
  display: inline-block;
	float: center;
	width: 45%;
	padding: 0 25px;
	text-align: center;
  margin: 60px 0px;
}
.containerb p
{
  text-align: center;
  color: grey;
  line-height: 1.5;
}
.container3, .container4
{
  display: inline-block;
  margin: 0 15px;
}

.container3{

  padding: 30px 30px;
  width: 60%;

  padding: 10px 30px;
}
.container3 p{
text-align: left;
line-height: 1.5;
}

.container4{

  width: 30%;
  position: relative;

  padding: 10px 20px;
  }
.container41{

margin-bottom: 90px;
border-bottom: 1px solid;
border-color: lightgray;
padding: 10px 25px;}

.container4 p{
  width: 100%;
  text-align: left;
  line-height: 1.5;
}
.s5{
  background-color: rgba(248, 248, 248, 1);
  padding: 20px 0px;
  line-height: 1.5;
  }

.s5 .container2
{
  display: inline-block;
  width: 23%;
  margin: 10px 40px;


}
.s5 .container21
{
  float: right;
  margin: 10px 40px;
  position: absolute;
  display: inline-block;
  width: 38.5%;
    padding: 0px 20px;
}
.container21 a
{
  margin: 0px 5px 15px 5px;
  font-size: 25px;
  color: rgba(185, 185, 185, 1);
  padding: 20px 10px;
  line-height: 1.5;
}
.container21 p{
  width: 100%;
  text-align: left;
  line-height: 1.5;
}

/*blocks*/
/*text*/
h1
{
  color: rgb(248,249,250);
  font-size: 40px;
  font-family: monospace;
}
h2 {
font-size: 25px;
text-align: center;
text-transform: uppercase;
color: gray;
margin: 20px 0;
}

h3 {
font-size: 17px;
text-transform: uppercase;
color: rgb(173,181,189);
margin: 15px 0;
}

p{
  text-align: center;
  color: rgb(173,181,189);
  font-size: 14px;
padding: 10px 0;
line-height: 1.5;

}

.text
{
  color: grey;
}
.s5 ul a{
  color: gray;
  text-decoration: underline;


}
.container2 ul{
  display: list-item;
    list-style: none;

}
.container2 li{

  padding: 15px 0;

}
.square h4
{

  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase
}
.square p
{
  width: 75%;
	margin: 0 20px;
	font-weight:200;
	text-align: justify;
	line-height: 1.5;
}
.container4 ul
{
  list-style: none;

}
.container4 li
{
  padding: 10px 10px;
  border-bottom: 1px solid;
border-color: lightgray;
color: #DA1C1C;
    text-decoration: underline;
}
.container4 li a
{
  color: skyblue;
  font-size: 14px;

}
/*text*/


/*footer*/
footer
{
	height: 122px;
	text-align: center;
  font-size: 12px;
  color: grey;
	background-color: rgba(248, 248, 248, 1);
	text-transform: capitalize;
	line-height: 1.5;
}
footer span
{
	display: inline-block;
	margin: 30px 20px;
}
.design
{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: grey;
  padding: 5px 20px;
}
/*footer*/
